/* style.css */


body{           
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5vw;
    
  
}           

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    box-shadow: 8px 8px 10px 3px darkorange;
    width: 22%;
    text-shadow: 1px 1px 0px black
}

nav>ul{
    list-style: none;
    text-decoration: none;     
}


body>header{
    background-color: orange;
    color: #017374;
    display: flex;
    height: 12vh;
    justify-content:space-around;
}

#nav-ul{
    display:flex;
}

#nav-ul > li{
    padding: 8px;
    margin: 16px;
}

body>header>nav>ul{
    list-style: none;
    text-decoration: none;
}

.navbutton{
    color:white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body>main article{
    margin:auto;
    width: 70%;
}

#main-content{
    display:flex
}


form{
    text-align: center;
}

h2{
    text-align: center;
}

img{
    border-radius: 50%;
}

body>footer{
    background-color: orange;
    
}

body>footer>section>nav>ul{
    display: flex;
    justify-content:space-around;
    margin-left: 12px;
    color: white;
    }

#footer-ul>li>a{
    list-style: none;
    text-decoration: none;
    color: white;
    display: flex;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
    justify-content: spacearound;
}

#nav-ul{
    display:flex;
}

body>footer{
    padding: 16px;
    color: white;
    text-align: center;
    }

    
